body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: #d7dfe4;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btnContainer{
    text-align: center;
    margin-top: 40px;

}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
#Start{
    background-color: rgb(35, 230, 51);
}
#Stop{
    background-color: rgb(228, 113, 68);
}
#Reset{
    background-color: rgba(51, 32, 223, 0.781);
}